/*
Styless.css
-Global
-Header
-Main
-Slider
-Footer*/


:root {
    /*Colores para letras/contenedores*/
    --blanco: white;
    --marron: #3c2c19;
    --marron_claro: #C4B099;
    --negro: #000;
  
    /*Colores para banner*/
    --marron_banner_uno: #50382C;
    --marron_banner_dos: #E3C3A7F2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*Color fondo de pagina*/
    background-color: #EEE;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--marron);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 28px;
}

p {
    font-family: "Arial", sans-serif;
    color: var(--marron);
    font-size: 19px;
}
/* Estilos para el header*/
#menu {
    display: flex;
    align-items: center;
    background-color: #C4B099;
    height: 200px;
    width: 100%;
    list-style-type: none !important;
    justify-content: center;
    flex-direction: column;
}

/* Estilo para el contenedor del logo en el header */
.container_logo {
    display: flex;
    height: 135px;
    width: 124px;
    margin-bottom: 14px;
}

/* Estilo para el logo oscuro */
.logo_oscuro {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Estilo para el header en dispositivos móviles */
.hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 45px;
    cursor: pointer;
    padding: 3px;
    background-color: transparent;
    border: none;
    display: none;
}

.hamburguesa span {
    width: 100%;
    height: 7px;
    background-color: var(--blanco);
    border-radius: 7px;
}

/* Elimina el marcador en las listas */
li::marker {
    list-style: none !important;
}

#menu .nav-list {
    display: flex;
    list-style: none !important;
    gap: 9rem;
    border-top: 1px solid black;
    padding: 17px;
}

/* Estilos para desplegar el menú en dispositivos móviles */
.desplegar {
    bottom: -230px;
}

#menu .nav-list a {
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
    color: #351E0E;
}

/* Estilo para los enlaces cuando el mouse pasa sobre ellos */
#menu .nav-list a:hover {
    color: white;
}

.titulo_h2 {
    height: 350px;
    display: flex;
    justify-content: flex-start;
    color: var(--blanco);
    font-size: 100px;
    max-width: 1393px;
    margin: 0 auto;
    background-color: var(--claro);
    text-align: center;
    text-shadow: 1px 1px 17px var(--blanco);
    align-items: end;
}

/*** INICIO INDEX ***/
.inicio_index {
    min-height: 105vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.inicio_index h2 {
    font-size: 25px;
    color: var(--blanco);
}

#container{
   height: 100%;
    
}
.inicio_index {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: var(--blanco);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

/* Estilo para el título h2 dentro de las secciones */
.section_index h2 {
    position: absolute;
    margin-left: 30px;
}

/* Estilo para los contenedores dentro de la sección de inicio */
.inicio_index div {
    background-color: #C4B099C7;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* En posición relativa ya que su contenedor padre esta en absoluta */
    left: -100%; /* Empieza fuera de la pantalla */
    animation: movimiento 1s ease-in-out forwards;/* Aplicamos la animacion llamada movimiento, dura 1segundo y con una transicción suave */
}

/* Definición de la animación "movimiento" */
@keyframes movimiento {
    from {
        left: -100%; /* Empieza fuera de la pantalla */
    }
    to {
        left: 0;    /* Llega a su posición original */
    }
}

/* Fondo específico para la sección de index */
.inicio_index {
    background-image: url('../img/index_img1.jpg');
}



.section_index:not(:first-child) {
    position: relative;
}

/* Estilo para los enlaces dentro de la sección index */
.section_index > div a {
    width: 100%;
    height: 105vh;
    z-index: 1; /* Asegura que el enlace esté por encima de otros elementos */
}

.section_index .principal h2 {
    display: flex;
    justify-content: space-around;
    animation: movimiento 3s;
    animation-fill-mode: forwards;
    padding: 80px 10px 10px 10px; /* Espaciado interno (80px arriba, 10px en los lados y abajo) */
    font-size: 20px;
    flex-direction: column;
    font-size: 20px; 
}

/*** FIN INDEX ***/

/*** INICIO SOBRE NOSOTROS ***/

/* Sección principal de introducción de "Sobre Nosotros" */
.section_intro_nos {
    display: flex;
    height: 458px;
    width: 100%;
    background-image: url(../img/nos_img1.png);
    z-index: 1;
    background-position-y: center;
    background-position-x: right;
    background-repeat: no-repeat;
    
}

.nosotros {
    height: 458px;
    width: 100%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.56), rgba(255, 238, 238, 0.21));
    display: flex; /*Establecemos caja flexible para el contenido*/
    flex-direction: column; /* Los elementos dentro del contenedor estarán en columna */
    align-items: flex-start;
    color: white;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nosotros p {
    color: var(--marron);
}

.container_uno {
    display: flex;
    height: 300px;
    width: 100%;
    gap: 20px; /* Espacio entre los elementos */
    margin: 12px auto; /* Márgenes automáticos para centrar la sección */
    background-color: var(--marron_claro);
}

.container_uno_nos {
    background-color: var(--marron_claro);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1396px;
}

.container_uno_nos p {
    
    color: var(--blanco);
    text-align: center;
    margin-top: 20px;
}

.container_dos_nos {
    margin: 0 auto;
    background-color: #C4B09921;
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_imagenes {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1396px;
}

.grid_titulo_nos {
    font-size: 40px;
    
}

.grid_titulo_nos h2 {
    font-size: 40px;
    
}

.grid-titulo h2 {
    font-size: 49px;
    color: #3c2c19;
}

.foto_clinica_uno, .galeria, .foto_clinica_dos {
    width: 500px;
    height: 500px;
    background-size: cover; /* Asegura que la imagen cubra completamente el área */
    background-position: center;
}

/* Estilo para la primera imagen de la clínica */
.foto_clinica_uno {
    background-image: url('../img/nos_img2.png');
    background-size: cover;
    border-radius: 10px; /* Bordes redondeados */
}

.informacion_clinica {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    gap: 60px; /* Separacion entre el texto y la imagen*/
}


.texto_nosotros {
    width: 500px;
}

.texto_nosotros p {
    text-align: center;
}

.texto_nosotros h2 {
    text-align: center;
    color: var(--marron);
    font-size: 25px;
    margin-bottom: 15px;
}

.texto_nosotros p {
    color: var(--marron);
    text-align: center;
    text-align: left;
}

.texto_galeria p {
    color: white;
}

.container_cuatro_nos {
    margin-top: 10px;
    min-height: 400px;
    display: grid; /* Grid para distribuir*/
    grid-template-columns: repeat(6, 1fr); /* 6 columnas de igual tamaño */
    grid-template-rows: 400px 400px; /* 2 filas de 400px de altura */
    text-align: center;
    gap: 40px; /* Espacio entre los elementos */
    max-width: 1396px;
    margin: 0 auto;
}

.container_cuatro_nos h3 {
    color: var(--marron);
}

.container_cuatro_nos p {
    margin: 10px;
    color: var(--marron);
    }

 /* Estilo para el título principal */   
.imagen_intro_beneficios {
    grid-column: 1/-1;
    background: url(../img/nos_img8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_intro_beneficios:before { /*pseudo-elemento ::before*/
    content: " "; /*reuisito para que funcione el elemento*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bbb8b87a;
    z-index: 1;
}

.imagen_intro_beneficios h2 {
    color: white;
    font-size: 60px;
    z-index: 1;
}


.opacidad_nos {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.opacidad_nos h2 {
    font-size: 60px;
    color: var(--blanco);
}

.beneficio_uno, .beneficio_dos, .beneficio_tres {
    background-color: var(--marron_claro);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    opacity: 0.7;
}

.beneficio_uno {
    background-image: url(../img/nos_img12.jpg);
    background-size: cover;
    height: 200px;
    margin-bottom: 25px;
}

.beneficio_dos {
    background-image: url(../img/nos_img9.jpg);
    height: 200px;
    margin-bottom: 25px;
}

.beneficio_tres {
    background-image: url(../img/nos_img10.jpg);
    height: 200px;
    margin-bottom: 25px;
}

.frase_beneficio_uno {
    grid-column: 1/3;
}

.frase_beneficio_dos {
    grid-column: 3/5;
}

.frase_beneficio_tres {
    grid-column: 5/7;
}

.beneficio_uno h3, .beneficio_dos h3, .beneficio_tres h3 {
    color: var(--marron);
}

.beneficio_uno p, .beneficio_dos p, .beneficio_tres p {
    color: var(--blanco);
    margin-top: 20px;
}

.container_cinco_nos, .container_seis_nos {
    display: flex;
    flex-direction: row; /* Organiza los elementos en fila*/
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    gap: 20px;
    margin: 12px auto;
    background-color: var(--marron_banner_uno);
}

.logo_claro {
    height: 150px;
    width: 230px;
}

.container_cinco_nos h1 {
    font-size: 64px;
    color: white;
    text-shadow: 1px 1px 30px black;
}

.contenido_dos_nos, .contenido_tres_nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 775px;
}

.contenido_dos_nos h2,
.contenido_dos_nos p {
    text-align: left;
}

.contenido_dos_nos h2 {
    font-size: 30px;
    color: var(--marron_claro);
}

.contenido_dos_nos p {
    margin-top: 25px;
    color: var(--blanco);
}

.container_seis_nos {
    height: 300px;
    background-color: var(--marron_banner_dos)
}

.contenido_tres_nos h2,
.contenido_tres_nos p {
    text-align: center;
    color: var(--marron);
}

.contenido_tres_nos h2 {
    font-size: 30px;
}

.contenido_tres_nos p {
    margin-top: 25px;
    color: var(--marron);
}

/*** FIN SOBRE NOSOTROS ***/

/*** ESTRUCTURA GENERAL DE LAS PAGINAS DE MEDICINA FISIOTERAPIA Y NUTRICIÓN ***/

.section_intro {
    height: 350px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    max-width: 1393px;
    margin: 0 auto;
    background-size: cover;
}


.section_medicina,
.section_fisio,
.section_nutricion {
    max-width: 1393px;
    margin: 20px auto;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilo para los BACKGROUND de los divs impares dentro de las secciones de Medicina, Fisioterapia y Nutrición  */
.section_medicina_uno > div:nth-child(odd),
.section_medicina_dos > div:nth-child(odd),
.section_fisio_uno > div:nth-child(odd),
.section_nutricion_uno > div:nth-child(odd) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

/* Estilo el contenido que se encuentra dentro de los div que son pares en las secciones de Medicina, Fisioterapia y Nutrición */
.section_medicina_uno > :nth-child(even),
.section_medicina_dos > :nth-child(even),
.section_fisio_uno > :nth-child(even),
.section_nutricion_uno > :nth-child(even) {
    display: flex;
    flex-direction: column; /* Garantizamos que el contenido vaya hacia abajo*/
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #C4B09952;
    border-radius: 15px;
}

/* Estilo para los divs pares dentro de las secciones de Medicina, Fisioterapia y Nutrición  */
.section_medicina_uno div:nth-child(even),
.section_fisio_uno > div:nth-child(even),
.section_nutricion_uno > div:nth-child(even){
    width: 44%;
    position: relative;
    right: -100vh;
    animation: deslizar_dos 2s forwards ; /*  Se aplica la animacion "deslizar" dura 2 segundos y se mantiene en su posicion final */
}

/* Estilo para los párrafos dentro de divs de las secciones de Medicina, Fisioterapia y Nutrición  */
.section_medicina_uno p,
.section_medicina_dos p,
.section_fisio_uno p,
.section_nutricion_uno p {
    max-width: 500px;
    margin-top: 15px;
}

/* Estilo para los divs impares dentro de las secciones de Medicina, Fisioterapia y Nutrición  */
.section_medicina_uno > :nth-child(odd),
.section_fisio_uno > div:nth-child(odd),
.section_nutricion_uno > div:nth-child(odd)
{
    width: 44%;
    height: 300px;
    position: relative;
    left: -100vh;
    animation: deslizar 2s forwards ;
}

@keyframes deslizar{
    from{
        left: -100vh; /* Empieza desde fuera de la pantalla hacia la izquierda */
    }
    to{
        left: 0; /* Finaliza en su posición original */
    }
}

@keyframes deslizar_dos{
    from{
        right: -100vh;
    }
    to{
        right: 0;
    }
}

/*** FIN ESTRUCTURA GENERAL DE LAS PAGINAS DE MEDICINA FISIOTERAPIA Y NUTRICIÓN ***/

/*** BACKGROUND MEDICINA  ***/
.medicina {
    background-image: url('../img/med_img1.jpg');
}

.foto_uno_med {
    background-image: url('../img/med_img2.jpg');
}

.foto_dos_med {
    background-image: url('../img/med_img3.jpeg');
}

.foto_tres_med {
    background-image: url('../img/med_img4.png');
    grid-row: 3/3;
}


.foto_cuatro_med {
    background-image: url('../img/med_img5.jpg');
}

.foto_cinco_med {
    background-image: url('../img/med_img6.jpg');
}



/*** FIN MEDICINA ***/


/*** BACKGOUND FISIOTERAPIA ***/
.fisioterapia {
    background-image: url(../img/fis_img1.jpg);
}

.foto_uno_fis {
    background-image: url(../img/fis_img2.jpg);
}

.foto_dos_fis {
    background-image: url(../img/fis_img3.jpg);
}

.foto_tres_fis {
    background-image: url(../img/mandibula.jpg);
}




/*** FIN FISIOTERAPIA ***/

/*** BACKGOUND NUTRICION ***/

.nutricion {
    background-image: url(../img/nut_img1.jpg);
}


.img_uno_nut {
    background-image: url(../img/nut_img2.jpg);
}

.img_dos_nut {
    background-image: url(../img/nut_img3.jpeg);
}

.img_tres_nut {
    background-image: url(../img/nut_img4.jpg);
}

.img_cinco_nut {
    background-image: url(../img/nut_img5.jpg);
}



/*** FIN NUTRICION ***/


/*** INICIO PACK ONLINE ***/

.section_pack, .section_banner {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.section_pack {
    background-image: url(../img/pack_img1.jpg);
}

.contenido_promocion, .contenido_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #91919121; /* Color de fondo semitransparente */
}

.contenido_promocion h1, .contenido_banner {
    color: white;
    font-size: 35px;
    letter-spacing: 4px;
    text-align: center;
}


.tabla_grid_productos p {
    width: 100%;
    height: 45px;
    border: none;
    display: flex;
    margin-top: 9px;
    text-align: center;
    justify-content: center;
}

.ver_carrito {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--marron_claro);
}

.carrito {
    color: var(--blanco);
    position: absolute;
    right: 120px;
}

.img_carrito {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 50px;
}

.centrar {
    max-width: 1393px;
    margin: 20px auto;
}

.catalogo_productos {
    display: flex;
    flex-wrap: wrap;  /* Permite que los productos se distribuyan en varias filas */
    gap: 20px;
    justify-content: center;
}


.producto-carta {
    border: 1px solid white;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    padding: 10px;
    transition: box-shadow 0.3s;
}

.producto-carta div{
    font-family: "Arial", sans-serif;;
}

.producto-carta:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);/* Aparece sombra cuando se para el cursor */
}

.producto-imagen {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
}


.precio_producto {
    font-weight: bold;
    color: var(--marron);
    font-size: 15px;
    margin: 10px 0;
}


.productos_destacados {
    height: 600px;
    width: 95%;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 55px auto;
    overflow: hidden; /* Oculta los elementos que salen del contenedor */
    border-radius: 15px;
    background-color: #C4B09921;
    text-align: center;
}
.producto_descripcion{
    color: var(--marron)
}

/* INICIO SLIDESHOW */
.productos_destacados {
    position: relative;
}

.galeria_productos_destacados {
    position: relative;
}



.texto_productos_destacados {
    position: absolute;/* Se encuentra en posicion absoluta*/
    max-width: 500px;
    margin: 0 auto;
    z-index: 1;
    text-align: center;
    color: #fff;
    font-weight: bold;
    bottom: 35%;
    right: 0%;
    width: 100%;
    transform: translateY(50%); /* El texto se encuentra totalmente centrado*/
    left: 50px;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;/* Transición suave */
    left: 100%; 
}

.texto_productos_destacados{
    opacity: 0; /* Las otras frases no se ven, para que solo se vea la actual */
}

.texto_productos_destacados.activo {
    left: 0; /* Entra a la vista */
    opacity: 1; /* Se hace visible */
}

.galeria_productos_destacados button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  /* Los botones se encuentran centrados exactos*/
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.galeria_productos_destacados button.anterior {
    left: 10px;
}

.galeria_productos_destacados button.siguiente {
    right: 10px;
}
/* FIN SLIDESHOW */

.galeria_productos_destacados {
    background-image: url('../img/pack_img5.jpeg');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-height: 500px;
}


.galeria_productos_destacados::before {
    /* Efectos visuales encima de los elementos */
    content: ''; /* Necesario para que se activen las siguientes propiedades */
    position: absolute;/* Coloca el pseudo-elemento de manera absoluta dentro de su contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.23); /* Capa negra semitransparente */
    z-index: 1;/* Asegura que el pseudo-elemento se coloque encima de la imagen */
}



.texto_productos_destacados p {
    margin-top: 10px;
    color: var(--blanco);
}

.texto_productos_destacados h2{
    color: var(--blanco);
}

.anterior, .siguiente {
    height: 55px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
}

/* FIN PACK */

/* INICIO PASARELA */

.container-caja, .container_formulario_pago {
    max-width: 1393px;
    margin: 0 auto;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('../img/Helleborus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px;
}

.container-caja h2 {
    font-size: 30px;
    color: var(--blanco);
    text-align: center;
}

.container-caja p {
    color: var(--blanco);
}

.container-caja::before, .container_formulario_pago::before {
    /* Efectos visuales encima de los elementos */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(130, 130, 130, 0.55); /* Capa negra semitransparente */
    border-radius: 15px;
}

/*Estilos para el contenedor de la cesta de productos*/
.cesta_contenedor {
    width: 420px;
    height: 500px;
    z-index: 1;
    overflow: auto; /*Se aguega barra de desplazamiento en vertical*/
}

.cesta_productos {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.cesta_productos > div {
    margin-bottom: 20px; /* Separación inferior entre productos */
}

.cesta_productos > div:last-child {
    margin-bottom: 0;  /* El último producto no tiene margen inferior */
}

.eliminar_carrito {
    cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa sobre el botón */
    font-size: 20px;
    color: var(--blanco);
    padding: 2px 5px;
}

/*Estilos para el botón eliminar en estado hover*/
.eliminar_carrito:hover {
    background-color: var(--marron_claro);
    color: var(--blanco);
    border-radius: 20px;
}

/* Estilos para el contenedor del formulario de pago*/
.pago {
    width: 55%;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    font-size: 30px;
}

/*Estilo para el total del pedido*/
#total {
    font-size: 30px;
    margin-top: 40px;
    color: var(--blanco);
}

/* Estilos para la sección de Gmail*/

.pasarela_gmail {
    margin-top: 50px;
    height: 258px;
}

/* Estilos para el campo de Gmail*/
#email_compra {
    margin-top: 30px;
}

/* Estilos para el input de Gmail*/
.pasarela_gmail input {
    width: 80%;
}

.grid_gmail h1 {
    font-size: 20px;
}

.boton_email {
    width: 300px;
    height: 35px;
    border-radius: 15px;
    color: black;
    margin-top: 16px;
}

.boton_pagar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45%;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    background-color: black;
    color: white;
    display: none;
}

.container_formulario_pago {
    background-image: url(../img/pago.jpg); /* Imagen de fondo */
}

/* FIN PASARELA */

/*INICIO PAGO*/
.pasarela_de_pago {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 800px;
    margin-top: 80px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    align-items: center;
    position: relative;
  
}

/*Estilos para las etiquetas dentro de la pasarela */
.pasarela_de_pago label {
    color: white;
    margin-top: 20px;
    text-shadow: 1px 1px 9px var(--negro);
    font-size: 25px;

}

.pasarela_de_pago h2 {
    
    color: white;
}


   
#pago-cliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}


.aceptar {
    background-color: var(--negro);
    border-radius: 15px;
    color: var(--blanco);
    width: 112px;
    height: 35px;
    margin-top: 20px;
    font-size: 20px;
}

.container_emergente {
    max-width: 1393px;
    margin: 0 auto;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
/*Estilos para la ventana emergente*/
.ventana_emergente {
    visibility: hidden; /* La ventana emergente está oculta por defecto */
    height: 200px;
    width: 800px;
    margin-bottom: 25px;
    background-color: #ffffff78;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;
    color: var(--marron);
    
    
    
}
/* Estilo para la ventana emergente cuando aparece*/
.aparecer {
    visibility: visible; 
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s ease 0s;
    background-color: var(--marron_claro);
    color: var(--blanco);
}


/* Estilo para el boton de la ventana emergente*/
.cierre_ventana_emergente {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 33px;
    height: 28px;
    color: var(--blanco);
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: var(--marron_claro);
}

/*FIN PAGO*/



/*** INICIO DETALLE ***/
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.producto-detalle {
    text-align: center;
}

.producto_imagen_detalle {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.product-title {
    font-size: 16px;
    margin: 20px 0;
}

.product-description {
    font-size: 1em;
    margin: 10px 0;
}

.precio_producto {
    color: var(--marron);
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

/* Estilos para el enlace que lleva de vuelta a la lista de productos */
.back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--marron);
    font-weight: bold;
}

/* Estilos para el enlace cuando el cursor está encima */
.back-link:hover {
    text-decoration: underline;
}

/*** FIN DETALLE ***/



/*** INICIO INSCRIPCION ***/

.section_banner {
background-image: url(../img/suscripcion.jpg); /*** Imagen del fondo del banner ***/
opacity: 0.8;
}

.contenido_banner {
    display: flex;
    flex-direction: column;  /* Los elementos estarán en una columna */
    background-color: #000000a6;
}

.contenido_banner h1 {
    color: var(--blanco);
    font-size: 35px;
}

.contenido_banner p{
    color: var(--blanco);
}

#informacion_cliente {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: auto; /* Altura automática */
    max-width: 1396px;
    margin: 20px auto;
    justify-content: center;
    
}

.formulario_registro {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    margin: 20px auto;
    justify-content: center;
}
.formulario_registro input {
  width: 500px;
  
}


input {
    width: 100%;
    height: 60px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;/* Incluye el padding y el borde en el tamaño total del input */
}


/* Estilos para los botones de envío, boton continuar y aceptar */
.boton_enviar,.boton_continuar, .aceptar {
    width: 60%;
    height: 50px;
    border-radius:15px;
    border: none;
    background-color: var(--marron_claro);
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.contenido_advertencia{
    height: 200px;
   
}

#email input{
    border-radius: 20px;
}

/*** FIN INSCRIPCION  ***/

/*** ESTILOS PAGINA DETALLE  ***/

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--marron_claro);
    height: 700px;
  }

 
  .titulo_producto {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
    color:var(--marron)
  }
  
  .back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .back-link:hover {
    text-decoration: underline;
  }
  /***  FIN ESTILOS PAGINA DETALLE  ***/

/***FOOTER INICIO***/
/***ESTILOS PARA EL PIE DE PÁGINA***/

footer {
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.footer_contenido {
    margin-top: 20px;
    height: 230px;
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1396px;
    margin: 20px auto;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: var(--marron);
}

.logo_footer {
    height: 200px;
    width: 200px;
}

.logo_clinica {
    display: flex;
    height: 200px;
    width: 200px;
    margin-bottom: 14px;
}

.interes {
    display: flex;
    flex-direction: column;
    height: 175px;
    justify-content: center;
    gap: 20px;
}

.interes p {
    font-size: 20px;
    color: var(--marron);
}

.ubicacion {
    display: flex;
    flex-direction: column;
    height: 175px;
    color: var(--marron);
    gap: 20px;
}

.texto_ubicacion h2 {
    margin-top: 5px;
}

.texto_ubicacion p,
.horarios p,
.telefono p {
    margin-top: 20px;
    font-size: 20px;
}

.linea {
    border-top: 1px solid var(--marron);
    height: 30px;
    width: 80%;
}

footer div {
    text-align: center;
}

.interes p:hover {
    background-color: var(--marron_claro);
    border-radius: 10px;
   
}



/***FOOTER FIN***/





/***RESPONSIVE***/

/* Estilos para pantallas con un ancho máximo de 1220px */
@media (max-width:1220px){
    body p,h1,h2{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width:1220px){
   
    header{
        position: relative;
        z-index: 1;
    }
    .hamburguesa{
        display: flex;
        position: absolute;
        right: 2px;
        bottom: 35%;
        z-index: 1;
    }

    #menu{
        height: 150px;
        position: relative;
    }

   
   #menu .nav-list{
    display: flex;
    flex-direction: column;
    background-color: #ffffffe8;
    width: 60%;
    position: absolute;
    top: -100vh;
    gap: 20px;
    transition: top 0.9s ease
   }


   #menu .nav-list.desplegado {
    top:150px;
    z-index: 1;
    }

    #menu .nav-list a:hover {
        color: var(--marron_claro);
    }

   .nav-list li{
    list-style: disclosure-closed !important;
    margin-left: 20px;
    
   }
    #menu .nav-list :hover{
        color: var(--marron_);
    }
    p.texto_general{
        font-size: 17px;
    }
    .titulo_producto{
        font-size: 17px;
    }
    h1.titulo_1{
        font-size: 56px;
    }
    h2.titulo_2{
        font-size: 27px;
    }

    .titulo_h2{
        font-size: 100px;
    }

    .titulo_3{
        font-size: 26px;
       
    }
    h2.titulo_2_1{
        font-size: 55px;
    }

    .inicio_index h2{
        font-size: 23px;
    }
   
}

/* Estilos para pantallas con un ancho máximo de 1043px */
@media (max-width:1043px){
    .container_cinco_nos{
        display: flex;
        flex-wrap: wrap;
    }
    .container_cuatro_nos{
        padding-bottom:60px ;
    }
    .logo_claro{
        height: 110px ;
        width:165px ;
    }
    .contenido_dos_nos h2{
        text-align: center;
        font-size: 30px;
    }

    .contenido_dos_nos p{
        text-align: center;
        font-size: 20px;
    }
    p.texto_general{
        font-size: 17px;
    }
    h1.titulo_1{
        font-size: 54px;
    }
    h2.titulo_2{
        font-size: 24px;
    }
    .titulo_h2{
        font-size:90px;
    }
    .titulo_3{
        font-size: 24px;
       
    }
    h2.titulo_2_1{
        font-size: 50px;
    }
    .inicio_index h2{
        font-size: 21px;
    }
}

/* Estilos para pantallas con un ancho máximo de 937px */
@media(max-width: 937px){
    .cesta_contenedor{
        height: 200px;
        overflow: auto;
    }
    .pago{
        margin-top: 30px;
        width: 100%;
    }
}

/* Estilos para pantallas con un ancho máximo de 860px */
@media(max-width: 860px){

    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer_contenido{
        display: flex;
        flex-wrap: wrap;
    }

    .container_cuatro_nos p{
        font-size: 14px;
    }
    
    .contenido_dos_nos p{
        font-size: 16px;
        line-height: 2;
    }

    .container_cuatro_nos{
        display: flex;
        flex-direction: column;
    }

    .container_cinco_nos{
        height: 300px;
        margin-bottom: 10px;
    }
    
    .logo_claro{
        height: 82px;
        width: 133px;
    }

    .container_seis_nos p{
        font-size: 16px;
        line-height: 2;
    }

    .section_medicina_uno p{
        font-size: 15px;
    }

    .container_cuatro_nos{
        font-size: 14px;
    }

    p.texto_general{
        font-size: 16px;
    }

    .titulo_producto{
        font-size: 16px;
    }

    .precio_producto{
        font-size: 16px;
    }

    h1.titulo_1{
        font-size: 50px;
    }

    h2.titulo_2{
        font-size: 22px;
    }

    .titulo_h2{
        font-size: 80px;
    }

    .titulo_3{
        font-size: 22px;
    }

    h2.titulo_2_1{
        font-size: 45px;
    }

    .inicio_index h2{
        font-size: 19px;
    }

    .container_cuatro_nos div:not(:first-child){
        width: 300px;
        max-width: 1396px;
        margin: 0 auto;
    }

    .imagen_intro_beneficios {
        height: 400px;
    }
}

/* Estilos para pantallas con un ancho máximo de 830px */
@media (max-width: 830px){
   
    .section_medicina_uno,  
    .section_fisio_uno, 
    .section_nutricion_uno
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .section_medicina_uno > :nth-child(odd),
    .section_fisio_uno > div:nth-child(odd),
    .section_nutricion_uno > div:nth-child(odd)
    {
      width: 85%;
      height: 180px;
    }

    .section_medicina_uno div:nth-child(even),
    .section_fisio_uno > div:nth-child(even),
    .section_nutricion_uno > div:nth-child(even){ 
      width: 85%;
      height: 180px;
    }

    .logo_footer {
        height: 200px;
        width: 200px;
    }

    .logo_clinica {
        width: 215px;
        height: 200px;
        justify-content: center;
    }

    

    .footer_contenido {
        height: 355px;
    }

    h2.titulo_2_1 {
        font-size: 40px;
    }

    .inicio_index h2 {
        font-size: 17px;
    }

    .imagen_intro_beneficios {
        height: 350px;
    }
}

/* Estilos para pantallas con un ancho máximo de 680px */
@media (max-width: 680px){
    p.texto_general {
        font-size: 15px;
    }

    .titulo_producto {
        font-size: 15px;
    }

    h1.titulo_1 {
        font-size: 47px;
    }

    h2.titulo_2 {
        font-size: 20px;
    }

    .titulo_h2 {
        font-size: 70px;
    }

    .titulo_3 {
        font-size: 20px;
    }

    .foto_clinica_uno {
        display: none;
    }

    .container_dos_nos {
        height: auto;
    }

    h2.titulo_2_1 {
        font-size: 35px;
    }

    .imagen_intro_beneficios {
        height: 300px;
    }
}

/* Estilos para pantallas con un ancho máximo de 600px */
@media (max-width: 600px){
    .titulo_medicina {
        font-size: 55px;
    }

    .logo_footer {
        height: 200px;
        width: 200px;
    }

    .logo_clinica {
        width: 200px;
        height: 200px;
        justify-content: center;
    }

    

    .ubicacion {
        width: 220px;
        justify-content: center;
    }

    .footer_contenido {
        height: auto;
    }

    .texto_productos_destacados {
        max-width: 365px;
    }

    h2.titulo_2_1 {
        font-size: 30px;
    }

   

    .formulario_registro input {
        width: 400px;
    }
}

@media (max-width: 540px){
    .container_cinco_nos {
        height: 350px;
    }
}

/* Estilos para pantallas con un ancho máximo de 500px */
@media (max-width: 500px) {
    h2.titulo_medicina {
        font-size: 49px;
    }

    .titulo_h2 {
        font-size: 60px;
    }

    h1.titulo_pack {
        font-size: 30px;
    }

    .logo_footer {
        height: 150px;
        width: 150px;
    }

    .logo_clinica {
        width: 375px;
        height: 165px;
        justify-content: center;
    }

   

    .ubicacion {
        width: 375px;
        justify-content: center;
    }

    .footer_contenido {
        height: auto;
    }

    .container_seis_nos {
        height: auto;
    }

    .texto_productos_destacados {
        max-width: 250px;
    }

    input {
        width: 100%;
    }



}

/* Estilos para pantallas con un ancho máximo de 412px */
@media (max-width: 412px) {
    h2.titulo_medicina {
        font-size: 45px;
    }

    .formulario_registro input {
        width: 350px;
    }
    .section_intro_nos,.container_formulario_pago, .container-caja {
        background-position: center;
    }
    
   
}

@media (max-width: 385px) {

}

/* Estilos para pantallas con un ancho máximo de 375px */
@media (max-width: 375px) {
    h2.titulo_medicina {
        font-size: 40px;
    }

    h2.titulo_fisio {
        font-size: 50px;
    }

    .texto_productos_destacados {
        max-width: 200px;
    }

    .section_uno {
        height: auto;
    }



    .formulario_registro input {
        width: 200px;
    }
    .section_index .medicina,
    .section_index .fisioterapia {
        width: 100%;
        background-position-x: 70%;
    }

    .section_index .nutricion {
        width: 100%;
        background-position-x: 45%;
    }
    .section_medicina_uno div:nth-child(even),
    .section_fisio_uno > div:nth-child(even),
    .section_nutricion_uno > div:nth-child(even){ 
      width: 85%;
      height: 200px;
    }
}

/* Estilos para pantallas con un ancho máximo de 300px */
@media (max-width: 300px) {
    h2.titulo_medicina {
        font-size: 35px;
    }

    .titulo_h2 {
        font-size: 35px;
    }

    .section_index .medicina,
    .section_index .fisioterapia {
        width: 100%;
        background-position-x: 70%;
    }

    .section_index .nutricion {
        width: 100%;
        background-position-x: 45%;
    }

}